body{
         background-color: rgba(230, 104, 230, 0.79);
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
}
#container{
    color: rgb(110, 4, 208);
    
}
.digit{
    font-size: 150px;
    font-weight: bolder ;
}
.txt{
     font-size: 40px;
    font-weight: bold ;
}
.btn-container{
    text-align: center;
    margin-top:40px;
     margin-right: 80px;
}
.btn{
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
   border-radius: 15px;
     color: white;
  
}
 #stop{
   background-color: rgba(249, 0, 0, 0.815);
 
   border: 2px solid red;
 }
 #reset{
    background-color: rgb(69, 171, 214);
     border: 2px solid rgb(69, 171, 214);

 }
 #start{
 background-color: rgb(57, 255, 47);
 border: 2px solid rgb(57, 255, 47);
 
 }
