body{
     overflow-x: hidden;
     width: 100vw;
     margin: 0px;
     padding: 0px;
     background-color: rgb(245, 101, 57);
     background-color: rgb(33,
          33,
          33);
          font-family: 'Poppins';
    }
    :root{
     --primary-color : rgb(245,
          101,
          57);
          --secondry-color : rgb(33,33,33);
    }
    .navbar{
     background-color: var(--primary-color);
    padding: 1em;
     .logo{
          text-decoration: none; 
          color: var(--secondry-color);
          font-weight: bold;
          font-size: 1.2em;
          span{
               color: rgb(254, 248, 248);
          }
        
     }
           .mobile-menu {
                cursor: pointer;
               
           }
      
     .container {
                 display: flex;
              justify-content: space-between;
            }
                      nav {
                         display: none;
                      }
                    
    }

    section{
     padding: 5em 2em;
    }

    a{
     color: rgb(219, 199, 199);
    }

    ul{
     text-decoration: none;
     margin: 0px;
     padding: 0px;
    }

        .hero{
          text-align: center;


          .left-col{
               .subhead{
                    color: rgb(219, 206, 206);
                    text-transform: uppercase;
                    letter-spacing: .2rem;
                    font-weight: bold;
                    
               }
               h1{
                 font-size: 2.5em;   
                 line-height: 1.2em;
                  color: var(--primary-color);
                   margin-top: .2rem;
               }
              
                        .primary-cta {
                             text-decoration: none;
                             display: inline-block;
          
                             padding: .6em 1.5em;
                           
                            font-size: 1.3em;
                            background-color: var(--primary-color);
                              border: none;
                              border-radius: 5em;
                              font-weight: bold;
                              color: var(--secondry-color);

                            }
                                            .primary-cta:hover {
                                                 background-color: var(--secondry-color);
                                                 color: white;
                                                 border: 2px solid white;
                                            }
                    .watch-video-cta{
                         display: block;
                         margin-top: 1.2em;
                    }
                    img{
                       margin-right: .5em;  
                       

                    }

          }
        }
        